/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar {
    background-color:white;
    color: #111010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
  
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
    color: black;
}

.navbar-links a:hover {
    color: #ddd;
}
